<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Equalizer app</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" />
    <link rel="stylesheet" href="css/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="css/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script data-main="js/main" src="vendor/require.js"></script>
</head>
<body>
    <div id="app">
        <div id="disclaimer">
            This app was written just to play with Web Audio API.
            It uses SoundCloud API to take music only under by CC BY-SA license.<br/>
            Though it doesn't really correct equalizer – it drastically amplifies given frequencies,
            and moreover, soundcloud streaming is only 128 kbit, so only first filters have quite good
            impact. Anyway, it's possible to distinct by ear, and by eyes on canvas.
        </div>
        <div id="top">
            <input type="text" id="search" placeholder="what do you want to listen?" />
            <button id="btn-search">Search</button>
        </div>
        <div id="control-panel" style="display: none;"></div>
        <div id="graph-container">
            <div id="equalizer"></div>
        </div><div id="music">
            <ul id="list"></ul>
        </div>
        <div id="spectrogram-container">
            <canvas id="waveform" width="1200" height="500">Sorry, your browser doesn't support canvas</canvas>
        </div>
    </div>


    <script type="text/template" id="track-tmpl">
        <% if (play) { %>
        <img class="play start controls" src="img/pause.jpg" />
        <% } else { %>
        <img class="play start controls" src="img/play.jpg" />
        <% } %>
        <div class="name" title="<%= fullName %>"><%= shortName %></div>
        <a class="source" href="<%= link %>" target="_blank">src</a>
    </script>

    <script type="text/template" id="control-panel-tmpl">
        <div style="display: inline-block; cursor: pointer;">
            <img src="img/previous.jpg" class="prev controls" />
            <img class="play start controls" src="img/play.jpg" />
            <img class="stop controls" src="img/stop.jpg" />
            <img src="img/forward.jpg" class="next controls" />
        </div>
        <div id="progress">
            <div></div>
        </div><div id="duration"></div>
        <img src="img/sound-on.jpg" class="volume controls" />
        <div id="volume"></div>
    </script>

    <script type="text/template" id="equalizer-tmpl">
        <div class="filters"></div>
        <div class="quantity"></div>
    </script>
</body>
</html>