.container {
  position: relative;
  display: flex;
}

.slider {
  width: 8px;
  height: 175px;
  padding: 0 5px;
  -webkit-appearance: slider-vertical;
}

.sliderContainer {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
